.pesquisa-transferencias{
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 20px;
  
  }
  .form-group {
    margin-bottom: 15px;
  }
  
  .pesquisa-form {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .pesquisa-button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  .pagination {
    display: flex;
    gap: 5px;
    margin-top: 10px;
  }
  
  .pagination button {
    padding: 5px 10px;
    background-color: #e0e0e0;
    border: none;
    cursor: pointer;
  }
  
  .pagination button.active {
    background-color: #4CAF50;
    color: white;
  }
  